body{
  background-color: gray;
}
.App {
  text-align: center;
}
.g-body{
  margin: auto;
}
.g-card {
  width: 18rem;
}
.App-logo {
  height: 20vmin;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
